<html>
    <head>
        <title>Posting!</title>
    </head>
    <body>
        <h1>{{post.title}}</h1>
        <!-- 이미지 보여주기 -->
        {% if post.photo %}
            <img src = "{{ post.photo.url }}" alt="" height="300">
            <br>
        {% endif %}
        <p>{{post.year}}/{{post.age}}/{{post.season}}</p>
        <p>{{post.genre}}</p>
        <p>{{post.story}}</p>
        <p>주연: {{post.people}}</p>
        <p>유사 추천 작품:</p>
        <ul>
            <li><a href="/blog/{{sp0}}">{{spt0}}</a></li>
            <li><a href="/blog/{{sp1}}">{{spt1}}</a></li>
            <li><a href="/blog/{{sp2}}">{{spt2}}</a></li>
            <li><a href="/blog/{{sp3}}">{{spt3}}</a></li>
            <li><a href="/blog/{{sp4}}">{{spt4}}</a></li>
        </ul>
        <p>&nbsp;</p>
        <a href="/">Home</a>
    </body>
</html>